<ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu" mode="ios">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="goToModal()">Categorias</ion-item>
      <ion-item>Buscar</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>
<ion-row>
  <ion-col size="2" class="col-menu">
    <img src="https://giphy.com/static/img/favicon.png" class="logo">
  </ion-col>
  <ion-col size="4">
    <h1 class="title-menu">Giphy</h1>
  </ion-col>
  <ion-col size="6" class="btn-menu">
    <ion-menu-button autoHide="false" color="dark"></ion-menu-button>
  </ion-col>
</ion-row>
