.title-menu {
  margin-top: 5px;
  font-weight: bold;
}
.logo {
  width: 60%;
  float: right;
}
ion-menu-button {
  float: right;
  margin-right: 100px;
  margin-top: 10px;
}

@media only screen and (max-width: 1440px) {
  .logo {
    width: 20%;
  }
  .title-menu {
    margin-top: 10px;
  }
  ion-menu-button {
    margin-top: 2px;
  }
}
@media only screen and (max-width: 768px) {
  .logo {
    width: 35%;
  }
  .title-menu {
    margin-top: 10px;
  }
  ion-menu-button {
    margin-top: 6px;
  }
}
@media only screen and (max-width: 540px) {
  .logo {
    width: 75%;
  }
  ion-menu-button {
    margin-top: 8px;
    margin-right: 50px;
  }
}
