<ion-header>
  <ion-toolbar>
    <ion-title slot="start">Categories</ion-title>
    <ion-icon name="close-circle-outline" slot="end" (click)="closeModal()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-col size="12">
    <ion-item *ngFor="let item of data">
      <ion-label>{{ item?.name }}</ion-label>
      <ion-select
        multiple="true"
        value="brown"
        okText="Okay"
        cancelText="Dismiss"
      >
        <div *ngFor="let data2 of item.subcategories">
          <ion-select-option value="{{ data2?.id }}"
            >{{ data2?.name }}</ion-select-option
          >
        </div>
      </ion-select>
    </ion-item>
  </ion-col>
</ion-content>
