
<app-header></app-header>
<ion-content color="light">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h1 class="title">Giphy Icons Api!</h1>
      </ion-col>
      <ion-col size="12" size-lg="3" size-md="6" *ngFor="let item of dataGift">
        <ion-card mode="ios">
          <a href="{{item.url}}">
            <img [src]="item?.images.original.url" alt="{{item.id}}" />
          </a>
          <ion-card-header>
            <ion-row>
              <ion-col size="12">
                <ion-card-title>{{item?.title}}</ion-card-title>
              </ion-col>
              <ion-col size="6" *ngIf="item.user">
                <ion-card-subtitle
                  *ngIf="item?.user === undefined ">No Profile Picture! {{ item?.username }}</ion-card-subtitle
                >
                <ion-card-subtitle
                *ngIf="item?.user !== undefined "><img
                [src]="item?.user.avatar_url"
                alt="img"
                class="img-user"
              />{{ item?.username }}</ion-card-subtitle
              >
              </ion-col>
              <ion-col size="6" *ngIf="item.user">
                <div class="container-verified">
                  <p *ngIf="item.user.is_verified === true">
                    User Verified!
                    <ion-icon
                      name="checkmark-circle"
                      class="icon-verified"
                    ></ion-icon>
                  </p>
                  <p *ngIf="item.user.is_verified === false">
                    User no verified!
                  </p>
                </div>
              </ion-col>
            </ion-row>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col size="8"
                ><p class="heading-one">{{item?.trending_datetime}}</p></ion-col
              >
              <ion-col size="4"
                ><p class="heading-two">Type: {{item?.type}}</p></ion-col
              >
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <div class="container-description" *ngIf="item.user">
                  <p class="heading-three" *ngIf="item.user.description === '' ">Don't have a description!</p>
                  <p class="heading-three" *ngIf="item.user.description">{{ item.user.description }}</p>
                </div>
                
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
