/* START HOME SECTION */

ion-content {
  ion-grid {
    padding-left: 20px;
    padding-right: 20px;
  }
  .title {
    font-size: 35px;
    color: #000;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
  }
  ion-card {
    height: 450px;
    overflow-y: scroll;
    ion-card-header {
      padding-bottom: 0px;
    }
    ion-card-title {
      font-size: 18px;
    }
    ion-card-subtitle {
      .img-user {
        width: 10%;
        margin-right: 10px;
      }
    }
    .container-verified {
      p {
        margin-top: 0px;
        float: right;
        font-size: 10px;
        ion-icon {
          color: #3897f0;
        }
      }
    }
    ion-card-content {
      .heading-three {
        height: 50px;
        overflow-y: scroll;
        font-size: 12px;
        font-weight: 300;
        line-height: 20px;
      }
    }
  }
}

/* END HOME SECTION */
